@font-face {
  font-family: GarbataBold;
  src: url(../../fonts/GarbataTrial-Bold.ttf);
}

@font-face {
  font-family: GarbataExtraBold;
  src: url(../../fonts/GarbataTrial-Extrabold.ttf);
}

@font-face{
  font-family: GarbataMedium;
  src: url(../../fonts/GarbataTrial-Medium.ttf);
}

body{
  padding: 0;
  margin: 0;
  background-color: #EFE3B8;
}

a{
  color: unset;
  text-decoration: none;
}

button{
  cursor: pointer;
}

.main{
  padding-top: 50px;
}



.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  background-color: #A6603A;
}

.logo{
  margin-top: 15px;
}


span{
  color: #EFE3B8;
  display: block;
}

.logo-name{
  font-family: GarbataExtraBold;
  font-size: small;
}
.page-name{
  font-family: GarbataExtraBold;
  font-size: 36px;
}

.search{
  flex: 1;
  max-width: 500px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.searchInput{
  background-color: rgb(255, 255, 255, 0.8);;
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  
}

.searchButton{
  background-color: rgb(255, 255, 255, 0.8);
  border: none;
  width: 45px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-shrink: 0;
}

.searchIcon{
  height: 22px;
  margin-left: 2px;
  margin-top: 3px
}


.searchInput::placeholder{
  font-family: Gill Sans;
  font-weight: thin;
  font-size: 20px;
  color: rgb(210, 197, 197);
}

.shopping-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
  position: relative;
}

.cart{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-quantity {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #A6603A;
  background-color: #EFE3B8;
  padding: 2px 7px; 
  border-radius: 50%;
}

.cartTab{
  background-color: black;
  color: #EFE3B8;
  width: 400px;
  max-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  height: 100%;
  z-index: 10;
}

.cartTab h1{
  padding: 20px;
  margin: 0;
  font-weight: 300;
}

.cartTab .btn{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button{
  background-color: #EFE3B8;
  border: none;
}

.cartTab .btn button.close{
  background-color: #eee;
}

.cartTab .listCart{
  overflow: auto;
}

.cartTab .listCart::-webkit-scrollbar{
  width: 0;
}

.cartTab{
  right: -400px;
  transition: 0.5s;
}
body.activeTabCart .cartTab{
  right: 0;
}
body.activeTabCart .container{
  transform: translateX(-250px);
}

/*list cart item*/
.listCart .item img{
  width: 100%;
}

.listCart .item{
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  align-items: center;
  text-align: center;
  margin-top: 5px;
}

.listCart .quantity{
  display: flex;
}

.listCart .item .quantity span{
  display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}

.listCart .item .quantity span:nth-child(2){
  border-color: transparent;
  color: #000;
}

.listCart .item:nth-child(even){
  background-color: #eee1;
} 

.user-options{
  display:flex;
  margin-top: 10px;
}

.options{
  
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.options i{
  font-size: 23px;
  color: #e7debe;
}
.options span{
  padding-top: 10px;
  font-family: GarbataBold;
  font-size: 13px;
}

/*-------------login form--------------------------*/
.login-active{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.button {
  padding: 6px 24px;
  border: 2px solid #EFE3B8;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
}
.button:active {
  transform: scale(0.98);
}

/* Home */

.home.show::before {
  opacity: 1;
  pointer-events: auto;
}
/* From */
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #EFE3B8;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.signup_form {
  display: none;
}
.form_container.active .signup_form {
  display: block;
}
.form_container.active .login_form {
  display: none;
}
.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}
.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}
.input_box input {
  height: 100%;
  width: 80%;
  border: none;
  outline: none;
  padding: 0 30px;
  background-color: #EFE3B8;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus {
  border-color: #A6603A;
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}
.input_box i.email,
.input_box i.password {
  left: 0;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: #A6603A;
}
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}
.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_container a {
  color: #A6603A;
  font-size: 12px;
}
.form_container a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}
.checkbox input {
  accent-color: #A6603A;
}
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}
.form_container .button {
  background: #A6603A;
  color: #EFE3B8;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

.grid-head{
  font-family: GarbataExtraBold;
  color: #A6603A;
  padding-left: 20px;
  font-size: 20px;
  margin-top: 50px;
}

.products-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr); 
}

@media (max-width: 992px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product-container{
  background-color: #EFE3B8;
  color: #A6603A;
  margin: 20px;
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  transition: transform 0.3s;
  border-style: solid;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-right-radius: 0;
}

.product-image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin-bottom: 20px;
  filter: drop-shadow(0 50px 20px #0003);
}

.product-container:hover{
  transform: translateY(-10px);
}

.product-image{
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.product-rating{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ratingImage {
  width: 15px;
  margin-right: 6px;
}

.product-spacer{
  margin-bottom: 10px;
}

.quickView{
  background-color: #A6603A;
  color: #EFE3B8;
  width: 100%;
  padding: 8px;
  border-radius: 50px;
  cursor: pointer;
  border-color: #EFE3B8;
  text-decoration: none;
}

.product-name{
  font-family: GarbataBold;
}